* {
  font-family: Encode Sans Condensed, sans-serif, Roboto !important;
}

p {
  margin-bottom: 0 !important;
}

.container {
  max-width: 1152px;
}

.nav {
  height: 50px;
  border-bottom: 3px solid rgb(215, 223, 35);
}
.nav a {
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  color: black;
  font-family: Encode Sans Condensed, sans-serif, Roboto;
}

.menu-nav {
  width: 270px;
  height: 294px;
  background-color: rgb(255, 255, 255);
  padding: 0px 0px 15px;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  border-radius: 0px 0px 8px 8px;
  right: 0px;
  top: 50px;
}
.menu-nav ul {
  padding: 0px;
}
.menu-nav .li-seccion {
  font-weight: 900;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 22px;
  background-color: rgb(138, 143, 21);
  color: rgb(215, 223, 35);
  width: 100%;
  border-radius: 0px;
}
.menu-nav ul li {
  list-style-type: none;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 16px;
  color: black;
  font-weight: 400;
  border-radius: 0px 20px 20px 0px;
  border: solid #f6f6f3 0.2px;
}
.menu-nav ul li:hover {
  font-weight: 600;
  background-color: #f6f6f3;
}

.head {
  background-image: url("/img/head-bg.png");
  height: 372px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
.head .text {
  margin-top: 54px;
  margin-bottom: 60px;
}
.head .title {
  font-family: Encode Sans Condensed, sans-serif, Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 44px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.head .head-text {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 29px !important;
  max-width: 630px;
}
.head .head-button {
  width: 313px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.04em;
}

.counter {
  margin-top: 140px;
  position: relative;
}

.number {
  color: rgb(242, 243, 210);
  font-weight: 900;
  padding: 0px;
  font-size: 50px;
  line-height: 63px;
  text-transform: uppercase;
}

.arco {
  position: absolute;
  top: -40px;
  right: 120px;
}

.modal {
  width: 531px;
  height: 613px;
  overflow: hidden;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-header {
  border-style: none;
  display: block;
}
.modal-header button {
  float: right;
  background-color: white;
  border-style: none;
  height: 30px;
}
.modal-header span {
  font-size: 45px;
}

.modal-body {
  padding-left: 20px;
}

.all-text-modal {
  overflow-y: scroll;
  height: 415px;
}

.preg-modal {
  color: rgb(95, 97, 89);
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  z-index: 2;
  margin-top: 12px;
  margin-bottom: 12px !important;
}

.text-modal {
  color: rgb(95, 97, 89);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  z-index: 2;
  font-family: Roboto !important;
}

.show {
  padding-right: 0px;
  display: block;
}

.green-modal {
  border-radius: 8px;
  background-color: rgb(242, 243, 210);
}
.green-modal p {
  color: rgb(95, 99, 9);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  z-index: 2;
  font-family: Roboto;
}
.green-modal .bold {
  font-weight: 900;
}
.green-modal .green-modal-title {
  font-size: 20px;
  color: rgb(95, 99, 9);
  font-weight: 900;
}

.title {
  font-size: 27px;
  line-height: 31px;
  font-weight: 900;
}

.first {
  margin-top: 35px;
  margin-bottom: 40px;
}
.first .microrelatos {
  font-family: Encode Sans Condensed, sans-serif, Roboto;
  width: 358px;
  height: 550px;
  background-color: #f6f7f3;
  border: 1px solid #f6f7f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 18px;
}
.first .microrelatos .micro-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.first .microrelatos .micro-bajada {
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
.first .microrelatos .micro-causa {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.first .microrelatos .micro-ep {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.first .microrelatos .micro-long {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  font-family: Roboto;
}
.first .microrelatos .micro-img {
  width: 316px;
  height: 231px;
}

.button-agenda {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  color: rgb(184, 186, 177);
  font-weight: 900;
  height: 38px;
  width: 372px;
  border-style: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px inset;
}

.click-green {
  background-color: rgb(138, 143, 21);
  color: rgb(215, 223, 35);
}

.left {
  border-bottom-left-radius: 23px;
  border-top-left-radius: 23px;
}

.right {
  border-bottom-right-radius: 23px;
  border-top-right-radius: 23px;
}

.schedule {
  overflow-y: scroll;
  height: 380px;
}

.day {
  width: 73px;
  min-height: 100px;
  max-height: 278px;
  background-color: rgb(246, 247, 243);
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: 1px solid rgb(223, 224, 218);
  border-left: 1px solid rgb(223, 224, 218);
}

.audiencia-table {
  min-height: 100px;
  max-height: 278px;
  width: 645px;
  border-radius: 0px 12px 12px 0px;
  border-bottom: 1px solid rgb(223, 224, 218);
  border-right: 1px solid rgb(223, 224, 218);
  border-top: 1px solid rgb(223, 224, 218);
  padding: 7px;
}

.exact-audencia {
  height: 83px;
  border-bottom: 1px solid rgb(223, 224, 218);
  padding: 10px 0px;
  width: 100%;
}

.number-day {
  color: rgb(95, 97, 89);
  font-weight: 900;
  padding: 0px 0px 6px;
  font-size: 25px;
  line-height: 31px;
}

.week-day {
  color: rgb(95, 97, 89);
  font-weight: 500;
  padding: 0px 0px 6px;
  font-size: 12px;
  line-height: 14px;
}

.aud-hour {
  color: rgb(95, 97, 89);
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  font-family: Roboto !important;
}

.aud-caratula {
  color: rgb(95, 97, 89);
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date {
  color: rgb(184, 186, 177);
  font-size: 12px;
  font-weight: 900;
}

.aud-def {
  background: rgb(255, 232, 24);
  border-radius: 2px;
  font-size: 12px;
  line-height: 14px;
  color: rgb(95, 99, 9);
  padding: 2px 5px;
  margin: 5px 0px 3px;
}

.aud-live {
  color: rgb(138, 143, 21);
  text-decoration: underline;
  font-size: 14px;
  font-weight: 900;
  font-style: Roboto;
}

.aud-live img {
  height: 30px;
}

.aud-card img {
  height: 32px;
}

.date-picker {
  width: 360px;
  border: 1px solid rgb(184, 186, 177);
  border-radius: 8px;
  height: 38px;
}

.micro-button {
  width: 131px;
  height: 38px;
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  color: rgb(138, 143, 21);
  background-color: rgb(215, 223, 35);
  border: none;
}
.micro-button:hover {
  background-color: rgb(138, 143, 21);
  color: rgb(215, 223, 35);
}
.micro-button img {
  height: 20px;
}

.map .mobile {
  display: none !important;
}

.trial {
  width: 100%;
  height: 174px;
  background-color: #5f6159;
  margin-bottom: 59px;
  font-family: Encode Sans Condensed, sans-serif, Roboto;
  position: relative;
}
.trial .trial-title {
  font-weight: 900;
  font-size: 25px;
  line-height: 31px;
  z-index: 2;
  color: white;
}
.trial .trial-sub {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  z-index: 2;
  font-family: Roboto;
  color: rgb(223, 224, 218);
}
.trial button {
  width: 191px;
  height: 38px;
  border-radius: 20px;
  background-color: rgb(215, 223, 35);
  color: rgb(138, 143, 21);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
  border: none;
}
.trial .trial-num {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  font-family: Encode Sans Condensed, sans-serif, Roboto;
  color: rgb(215, 223, 35);
}
.trial .trial-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: Encode Sans Condensed, sans-serif, Roboto;
  color: rgb(242, 243, 210);
}
.trial .line {
  width: 2px;
  height: 96px;
  opacity: 0.2;
  background-color: rgb(184, 186, 177);
  display: block;
}
.trial .reloj {
  position: absolute;
  top: 0px;
  left: 325px;
  height: 127px;
}
.trial .mobile {
  display: none !important;
}

.second {
  margin-bottom: 50px;
}
.second .linea-recta {
  height: 1px;
  background-color: black;
  width: 100%;
}
.second .news-img {
  width: 370px;
  height: 217px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
.second .text-o-img {
  color: white;
  z-index: 2;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  font-family: Encode Sans Condensed, sans-serif, Roboto;
  bottom: 5px;
}

iframe {
  border-radius: 4px;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
          filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
}

.time {
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 25px;
  line-height: 31px;
}
.time .time-line {
  background-color: rgb(215, 223, 35);
  height: 130px;
  width: 755px;
  border-radius: 8px;
  color: rgb(138, 143, 21);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px inset;
}
.time .time-line p {
  width: 109px;
}
.time .time-line:hover {
  background-color: rgb(138, 143, 21);
  color: rgb(215, 223, 35);
}
.time .list {
  background-color: rgb(223, 224, 218);
  height: 130px;
  width: 382px;
  border-radius: 8px;
  color: rgb(95, 97, 89);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px inset;
}
.time .list p {
  width: 109px;
}
.time .list:hover {
  background-color: rgb(95, 97, 89);
  color: rgb(223, 224, 218);
}

.footer {
  background-color: #f6f6f3;
  height: 190px;
  border-top: 4px solid rgb(223, 224, 218);
}

.footer-black {
  height: 32px;
  background-color: black;
}

.footer-t {
  font-weight: 500;
  letter-spacing: 0.12em;
  font-size: 12px;
  line-height: 14px;
  font-family: Roboto;
  color: rgb(95, 97, 89);
}

.footer-black img {
  display: none;
}

.bold {
  font-weight: 900;
  color: rgb(95, 97, 89);
}

.svg-time-mobile {
  display: none;
}

.time-line img:last-child {
  display: none;
}

.time-line:hover .svg-clear {
  display: none;
}

.time-line:hover img:last-child {
  display: block;
}

.list img:last-child {
  display: none;
}

.list:hover .list-clear {
  display: none;
}

.list:hover .list-black {
  display: block;
}

@media only screen and (max-width: 767px) {
  html,
body {
    overflow-x: hidden;
    width: 100%;
  }

  .menu-nav {
    right: 0px;
    top: 50px;
  }

  .head {
    height: 530px;
  }
  .head .title {
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    margin-bottom: 23px !important;
  }
  .head .head-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 18px !important;
  }
  .head .head-button {
    text-align: center;
    margin: 0 auto;
  }
  .head .counter {
    margin-top: 20px;
    position: relative;
  }
  .head .arco {
    position: absolute;
    left: 5px;
    top: -40px;
  }
  .head .micro-button {
    font-size: 11px;
  }

  .agenda .title {
    text-align: center;
  }
  .agenda .schedule {
    height: 406px;
  }

  .first {
    margin-bottom: 0px !important;
  }

  .microrelatos {
    width: 100%;
    height: 564px;
  }
  .microrelatos .title,
.microrelatos .micro-subtitle {
    text-align: center;
  }
  .microrelatos .title {
    font-size: 21px;
  }
  .microrelatos .micro-subtitle {
    font-size: 16px;
  }
  .microrelatos .micro-img {
    width: 95% !important;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 261px !important;
  }
  .microrelatos .micro-text {
    margin-left: 0.7rem;
  }
  .microrelatos .micro-bajada {
    font-size: 16px;
  }
  .microrelatos .micro-causa {
    font-size: 14px;
  }
  .microrelatos .micro-ep {
    font-size: 12px;
  }
  .microrelatos .micro-long {
    font-size: 12px;
  }

  .trial {
    height: 401px;
  }
  .trial .trial-title {
    font-size: 21px;
  }
  .trial .trial-sub {
    font-size: 14px;
  }
  .trial .trial-num {
    font-size: 36px;
    width: 100px;
  }
  .trial .trial-text {
    font-size: 16px;
    width: 100px;
  }
  .trial .micro-button {
    display: none !important;
  }
  .trial .line {
    display: none;
  }
  .trial .reloj {
    left: 50%;
    -webkit-transform: translate(-50%, 85%);
            transform: translate(-50%, 85%);
  }
  .trial .mobile {
    display: block !important;
  }

  .map {
    margin-bottom: 25px;
  }
  .map .title {
    font-size: 21px;
    text-align: center;
  }
  .map iframe {
    height: 418px;
    width: 100%;
  }
  .map .micro-button {
    display: none !important;
  }
  .map .mobile {
    display: block !important;
    margin: 0 auto;
    margin-top: 10px;
  }

  .second .title {
    font-size: 21px;
  }
  .second .news-img {
    width: 100%;
  }
  .second .text-o-img {
    font-size: 16px;
  }

  .time {
    margin-bottom: 50px;
  }
  .time .time-line,
.time .list {
    width: 100%;
  }
  .time .time-line p,
.time .list p {
    font-size: 21px;
  }
  .time .svg-clear,
.time .svg-dark {
    display: none !important;
  }
  .time .svg-time-mobile {
    display: block;
  }

  .footer {
    height: 325px;
  }
  .footer .footer-text {
    width: 95%;
    text-align: center;
  }

  .footer-black {
    height: 62px;
    padding-top: 1px;
  }
  .footer-black img {
    height: 32px;
    display: block;
  }

  .modal-content {
    width: 99%;
    margin-right: 0px;
  }

  .modal {
    width: 100vw;
    height: 100%;
    top: 60%;
  }

  .modal-dialog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .agenda .title {
    font-size: 21px;
  }
  .agenda #datepickerfrom1 {
    margin-bottom: 15px;
  }
  .agenda .aud-caratula {
    font-size: 16px;
  }
  .agenda .aud-def {
    display: none;
  }
  .agenda .audiencia-table {
    width: 95%;
    max-height: 350px;
    border-left: 1px solid rgb(223, 224, 218);
    border-radius: 0px 12px 12px 12px;
  }
  .agenda .day {
    width: 55%;
    min-height: 33px !important;
    height: 33px !important;
    border-radius: 12px 10px 0px 0px;
    border-top: 1px solid rgb(223, 224, 218);
    border-left: 1px solid rgb(223, 224, 218);
    border-right: 1px solid rgb(223, 224, 218);
  }
  .agenda .number-day {
    margin-right: 7px;
    font-size: 21px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1145px) {
  html,
body {
    overflow-x: hidden;
    width: 100%;
  }

  .microrelatos {
    width: 355px !important;
  }

  .schedule {
    height: 445px !important;
  }

  .date-picker {
    width: 348px !important;
  }

  .map {
    margin-bottom: 25px;
  }
  .map iframe {
    height: 445px;
    width: 100%;
  }

  .tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .list {
    width: 100% !important;
  }

  .time-line {
    width: 100% !important;
    margin-left: 10px;
  }

  .juicios-p {
    font-size: 21px;
    padding-left: 10px;
  }

  .news-img {
    width: 100% !important;
    margin-right: 30px;
  }
}